<br>
<img title="This image is from Tenor" id= "pic" src="./assets/Jake.gif" alt="An image of Jake from Adventure Time from Tenor">
<br>
<div class="container">
<h4>Hello! My name is {{name}}, and welcome to Storm Beats!</h4>
<br>
<h5>Want to hear some royalty-free music? Use the music player below to hear some of the sickest royalty-free beats!</h5>
  <br>
<h5>Need a playlist reference? Head to the navbar on the top of the page and click on the tab "Library"! </h5>
<h5>Click the button below to read about us! </h5>
<br>
<div class="center">
  <button id="theBtn" type="button" class="btn btn-outline-info btn-lg" (click)="toggleTest()">About Us</button>
</div>
<br>
<p *ngIf="test" style="margin: 20px">We are a small music service that has free royalty music for our listeners to listen to,
  Now, since we are not as big as other music services like Pandora, Spotify,
  Apple Music, and more, we really appreciate you guys for taking the time to listen to our songs! </p>

<br>
</div>


